<table class='table table-bordered table-condensed'>
  <tr>
    <td>Logged as:</td>
    <td><strong><%= current_user.name %></strong></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= current_user.email %></td>
  </tr>
  <tr>
    <td>Privileges:</td>
    <td><%= current_user.admin? ? 'admin' : 'user' %></td>
  </tr>
</table>