<li>
  <b>
    <%= hardware_type.name %>
  </b>
  <% if current_user.admin? %>
    | <%= link_to "edit", edit_hardware_type_path(hardware_type) %>
    | <%= link_to "delete", hardware_type, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>