<% provide(:title, 'Hardware types') %>
<h1>Hardware types</h1>

<%= will_paginate %>

<ul class="hardware_types">
  <%= render @hardware_types %>
</ul>

<div class="center">
  <%= link_to 'Add new', new_hardware_type_path, class: "btn btn-large btn-primary" %>
</div>

<%= will_paginate %>