<footer class="footer">
  <small>
    HWinv &copy; <%= Time.now.year %>
  </small>
  <nav>
    <ul>
      <% if signed_in? %>
        <li>Logged as <%= current_user.email %></li>
      <% end %>
    </ul>
  </nav>
</footer>